<div class="block">
  <h6><i class="icon-bubble-plus"></i> New post</h6>
  <div class="well">
    <form role="form" action="/posts" method="post">
      <div class="form-group">
            <div class="row">
              <div class="col-sm-6">
                  <label>Title:</label>
                  <input name="title" type="text" class="form-control">
                  <span class="help-block">Please use a specific and accurate title</span>
                </div>
              <div class="col-sm-6">
                <label>URL:</label>
                <input name="url" type="text" class="form-control">
              </div>
          </div>
          <div class="form-actions text-right">
            <input type="submit" value="Add comment" class="btn btn-primary">
          </div>
      </div>
    </form>
  </div>
</div>